.table-wrapper {
    background-color: #ffffff;
    border: 1px solid rgb(236, 230, 230);
    width: 100%;
}

.btn-secondary {
    background-color: #ffffff;
    color: black;
}

.portlet {
    border-bottom: 1px solid #eef1f5;
}

.port-body {
    padding-top: 5px;
}

.port-body table {
    display: block;
}

.port-body table tr:nth-child(odd) {
    background-color: #eef1f5;
}

.port-body .btn-group {
    float: right;
}

.btn-group {
    padding-right: 0;
}

.btn-group button {
    font-size: 14px;
    background: #36c6d3;
    border-color: #36c6d3;
    color: #fff !important;
    margin: 0 7px;
    border-radius: 4px;
}

.dataTables_filter {
    float: left;
    margin-left: 250px;
}

.port-body th {
    font-size: 12px;
    color: #afafaf;
    font-weight: 400;
    text-transform: uppercase;
}

.port-body td {
    padding: 7px 0;
    border: 1 px solid #eef1f5;
    font-size: 16px;
}

.port-body .no-sort {
    padding-left: 15px;
    width: 50px;
}

.port-body input {
    margin-top: -50px;
}

.port-body td .label-success {
    background-color: #36c6d3;
    padding: 3px 5px;
    color: #eef1f5;
}

.port-body .odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.main-form {
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.form-name {
    display: flex;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 4px;
}

.charcounter {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

.widget {
    background: #fff;
    clear: both;
    margin-bottom: 20px;
}

.widget-title {
    font-size: 18px;
    font-weight: 400;
    color: #1f64a0 !important;
    padding: 10px;
}

.widget-body {
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

.widget-menu .widget.meta-boxes .widget-title {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
}

.widget-menu .widget.meta-boxes .narrow-icon {
    float: right;
    margin-top: 12px;
    margin-right: 0;
}

.box-links-for-menu .list-item {
    border: 1px solid #ddd;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
}

.box-links-for-menu .list-item li {
    list-style: none;
    position: relative;
    margin-bottom: 5px;
}

.meta-boxes .widget-title {
    cursor: move;
    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
    background: 0 0;
}

.widget-title>h4 span {
    margin-left: 10px;
}

.widget-title>h4 {
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    margin: 0;
}

.ui-select-wrapper .svg-next-icon {
    cursor: pointer;
    display: block;
    fill: #798c9c;
    position: absolute;
    right: 7px;
    z-index: 99999;
}

.btn {
    outline: none;
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 14px;
}

.ui-select-wrapper {
    border: 1px solid #c4cdd5;
    border-radius: 3px !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    transition: all 0.2s ease-out;
    background: linear-gradient(180deg, #fff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.ui-select:not(.select-search-full) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    background: 0 0 !important;
    padding: 4px 8px;
    border: 0;
    box-sizing: border-box;
    max-width: none;
    display: block;
    height: 34px !important;
    outline: none !important;
}

.btn-primary {
    background: #4d97c1;
    border-color: #2d8ec5;
}

.nestable-menu ul li {
    list-style: none;
    padding-left: 0;
}

.widget-bodychild {
    border: 1px solid #ccc;
    padding-top: none;
    border-top: none;
    width: 350px;
}

.dd-item>.item-details {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 10px 15px;
    max-width: 363px;
}

.dd-item.active>.item-details {
    display: block;
}

.item-details>label {
    float: left;
    width: 100%;
    display: block;
}

.item-details input {
    float: right;
    margin-right: 20px;
}

label {
    font-weight: 400;
}

.dd-item>.item-details span.text {
    display: block;
    width: 90px;
    font-weight: 700;
    font-size: 13px;
    float: left;
}

.dd-item>.item-details input[type="text"] {
    display: inline-block;
    width: 228px;
    border: 1px solid #aaa;
    height: 30px;
    padding: 0 5px;
}

.widget-menuitem {
    width: 350px;
    border: 1px solid #aaa;
    height: 35px;
}

.widget-menuitem span {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 35px;
    padding-left: 10px;
}

.widget-menuitem i {
    float: right;
    font-size: 16px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ccc;
    color: #333;
}

.table-wrapper {
    background-color: #ffffff;
    border: 1px solid rgb(236, 230, 230);
    width: 100%;
}

.btn-secondary {
    background-color: #ffffff;
    color: black;
}

.portlet {
    border-bottom: 1px solid #eef1f5;
}

.port-body {
    padding-top: 5px;
}

.port-body table {
    display: block;
}

.port-body table tr:nth-child(odd) {
    background-color: #eef1f5;
}

.port-body .btn-group {
    float: right;
}

.btn-group {
    padding-right: 0;
}

.btn-group button {
    font-size: 14px;
    background: #36c6d3;
    border-color: #36c6d3;
    color: #fff !important;
    margin: 0 7px;
    border-radius: 4px;
}

.dataTables_filter {
    float: left;
    margin-left: 250px;
}

.port-body th {
    font-size: 12px;
    color: #afafaf;
    font-weight: 400;
    text-transform: uppercase;
}

.port-body td {
    padding: 7px 0;
    border: 1 px solid #eef1f5;
    font-size: 16px;
}

.port-body .no-sort {
    padding-left: 15px;
    width: 50px;
}

.port-body td .label-success {
    background-color: #36c6d3;
    padding: 3px 5px;
    color: #eef1f5;
}

.port-body .odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.main-form {
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.form-name {
    display: flex;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 4px;
}

.charcounter {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

.widget {
    background: #fff;
    clear: both;
    margin-bottom: 20px;
}

.widget-title {
    font-size: 18px;
    font-weight: 400;
    color: #1f64a0 !important;
    padding: 10px;
}

.widget-body {
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

.widget-menu .widget.meta-boxes .widget-title {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
}

.widget-menu .widget.meta-boxes .narrow-icon {
    float: right;
    margin-top: 12px;
    margin-right: 0;
}

.box-links-for-menu .list-item {
    border: 1px solid #ddd;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
}

.box-links-for-menu .list-item li {
    list-style: none;
    position: relative;
    margin-bottom: 5px;
}

.meta-boxes .widget-title {
    cursor: move;
    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
    background: 0 0;
}

.widget-title>h4 span {
    margin-left: 10px;
}

.widget-title>h4 {
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    margin: 0;
}

.ui-select-wrapper .svg-next-icon {
    cursor: pointer;
    display: block;
    fill: #798c9c;
    position: absolute;
    right: 7px;
    z-index: 99999;
}

.btn {
    outline: none;
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 14px;
}

.ui-select-wrapper {
    border: 1px solid #c4cdd5;
    border-radius: 3px !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    transition: all 0.2s ease-out;
    background: linear-gradient(180deg, #fff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.ui-select:not(.select-search-full) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    background: 0 0 !important;
    padding: 4px 8px;
    border: 0;
    box-sizing: border-box;
    max-width: none;
    display: block;
    height: 34px !important;
    outline: none !important;
}

.btn-primary {
    background: #4d97c1;
    border-color: #2d8ec5;
}

.nestable-menu ul li {
    list-style: none;
    padding-left: 0;
}

.widget-bodychild {
    border: 1px solid #ccc;
    padding-top: none;
    border-top: none;
    width: 350px;
}

.dd-item>.item-details {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 10px 15px;
    max-width: 363px;
}

.dd-item.active>.item-details {
    display: block;
}

.item-details>label {
    float: left;
    width: 100%;
    display: block;
}

.item-details input {
    margin-left: 20px;
}

label {
    font-weight: 400;
}

.dd-item>.item-details span.text {
    display: block;
    width: 90px;
    font-weight: 700;
    font-size: 13px;
    float: left;
}

.dd-item>.item-details input[type="text"] {
    display: inline-block;
    width: 228px;
    border: 1px solid #aaa;
    height: 30px;
    padding: 0 5px;
}

.widget-menuitem {
    width: 350px;
    border: 1px solid #aaa;
    height: 35px;
}

.widget-menuitem span {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 35px;
    padding-left: 10px;
}

.widget-menuitem i {
    float: right;
    font-size: 16px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ccc;
    color: #333;
}

.table-wrapper {
    background-color: #ffffff;
    border: 1px solid rgb(236, 230, 230);
    width: 100%;
}

.btn-secondary {
    background-color: #ffffff;
    color: black;
}

.portlet {
    border-bottom: 1px solid #eef1f5;
}

.port-body {
    padding-top: 5px;
}

.port-body table {
    display: block;
}

.port-body table tr:nth-child(odd) {
    background-color: #eef1f5;
}

.port-body .btn-group {
    float: right;
}

.btn-group {
    padding-right: 0;
}

.btn-group button {
    font-size: 14px;
    background: #36c6d3;
    border-color: #36c6d3;
    color: #fff !important;
    margin: 0 7px;
    border-radius: 4px;
}

.dataTables_filter {
    float: left;
    margin-left: 250px;
}

.port-body th {
    font-size: 12px;
    color: #afafaf;
    font-weight: 400;
    text-transform: uppercase;
}

.port-body td {
    padding: 7px 0;
    border: 1 px solid #eef1f5;
    font-size: 16px;
}

.port-body .no-sort {
    padding-left: 15px;
    width: 50px;
}

.port-body td .label-success {
    background-color: #36c6d3;
    padding: 3px 5px;
    color: #eef1f5;
}

.port-body .odd {
    background-color: rgba(0, 0, 0, 0.05);
}

.main-form {
    background: #fff;
    padding: 10px;
    margin-bottom: 15px;
}

.form-name {
    display: flex;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 4px;
}

.charcounter {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 20px;
}

.widget {
    background: #fff;
    clear: both;
    margin-bottom: 20px;
}

.widget-title {
    font-size: 18px;
    font-weight: 400;
    color: #1f64a0 !important;
    padding: 10px;
}

.widget-body {
    padding: 15px;
    border-radius: 0 0 3px 3px;
}

.widget-menu .widget.meta-boxes .widget-title {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;
    font-size: 16px;
}

.widget-menu .widget.meta-boxes .narrow-icon {
    float: right;
    margin-top: 12px;
    margin-right: 0;
}

.box-links-for-menu .list-item {
    border: 1px solid #ddd;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
}

.box-links-for-menu .list-item li {
    list-style: none;
    position: relative;
    margin-bottom: 5px;
}

.meta-boxes .widget-title {
    cursor: move;
    overflow: hidden;
    height: 35px;
    border-bottom: 1px solid #eee;
    padding: 0 5px;
    background: 0 0;
}

.widget-title>h4 span {
    margin-left: 10px;
}

.widget-title>h4 {
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    margin: 0;
}

.ui-select-wrapper .svg-next-icon {
    cursor: pointer;
    display: block;
    fill: #798c9c;
    position: absolute;
    right: 7px;
    z-index: 99999;
}

.btn {
    outline: none;
    padding: 7px 12px;
    border-radius: 3px;
    font-size: 14px;
}

.ui-select-wrapper {
    border: 1px solid #c4cdd5;
    border-radius: 3px !important;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    transition: all 0.2s ease-out;
    background: linear-gradient(180deg, #fff, #f9fafb);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
}

.ui-select:not(.select-search-full) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
    letter-spacing: normal;
    background: 0 0 !important;
    padding: 4px 8px;
    border: 0;
    box-sizing: border-box;
    max-width: none;
    display: block;
    height: 34px !important;
    outline: none !important;
}

.btn-primary {
    background: #4d97c1;
    border-color: #2d8ec5;
}

.nestable-menu ul li {
    list-style: none;
    padding-left: 0;
}

.widget-bodychild {
    border: 1px solid #ccc;
    padding-top: none;
    border-top: none;
    width: 350px;
}

.dd-item>.item-details {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 5px;
    margin-top: -5px;
    padding: 10px 15px;
    max-width: 363px;
}

.dd-item.active>.item-details {
    display: block;
}

.item-details>label {
    float: left;
    width: 100%;
    display: block;
}

.item-details input {
    margin-left: 20px;
}

label {
    font-weight: 400;
}

.dd-item>.item-details span.text {
    display: block;
    width: 90px;
    font-weight: 700;
    font-size: 13px;
    float: left;
}

.dd-item>.item-details input[type="text"] {
    display: inline-block;
    width: 228px;
    border: 1px solid #aaa;
    height: 30px;
    padding: 0 5px;
}

.widget-menuitem {
    width: 350px;
    border: 1px solid #aaa;
    height: 35px;
}

.widget-menuitem span {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    line-height: 35px;
    padding-left: 10px;
}

.widget-menuitem i {
    float: right;
    font-size: 16px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ccc;
    color: #333;
}

.invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
    margin: 10px 25px;
}

.page-header {
    margin: 10px 0 20px 0;
    font-size: 22px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.page-header>small {
    color: #666;
    display: block;
    margin-top: 5px;
}

.pull-right {
    float: right!important;
}

.col-xs-6 {
    width: 50%;
    float: left;
}

.lead {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.4;
}

.no-shadow {
    box-shadow: none !important;
}

.well-sm {
    padding: 9px;
    border-radius: 3px;
}

.text-muted {
    color: #777;
}

.well {
    margin-top: 10px;
    margin-right: 6%;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table>tbody>tr>th {
    border-top: 1px solid #f4f4f4;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size: 32px;
}

.col-xs-12 {
    width: 100%;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}

.table-course .btn {
    float: right;
    background: white;
    border: 2px solid;
}

.all-money {
    margin-top: 20%;
    padding: 30px;
    background: white;
    border-radius: 22px;
}

.all-money hr {
    border: 1px;
    border-top: 4px solid rgba(0, 0, 0, .1);
}

.user-customer {
    width: 29px;
    margin-top: 4%;
    height: 35%;
}

#choose-customer {
    display: none;
    margin: 27px;
    margin-left: 34%;
}


/*Dropdown Order*/

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: white;
    border: 2px solid;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {
    box-sizing: border-box;
    background-image: url('https://img.icons8.com/2266EE/search');
    background-position: 12px 9px;
    background-size: 41px;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 14px 33px 16px 67px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}